@import "easymde/dist/easymde.min.css";
@import "sweetalert2/dist/sweetalert2.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .form-input {
        @apply rounded-md focus:ring focus:ring-indigo-200/50 border-gray-200 w-full;
    }

    :root {
        --main-color: #4a76a8;
    }

    .bg-main-color {
        background-color: var(--main-color);
    }

    .text-main-color {
        color: var(--main-color);
    }

    .border-main-color {
        border-color: var(--main-color);
    }
}
